@{
    ViewBag.Title = "AdminUpdateUni";
    Layout = "~/Views/Shared/admin_Layout1.cshtml";
}


<div class="row col-md-7 " style="width:80%;height:auto;margin-left:20%;margin-top:-7%">

    <h2> <span style="color:whitesmoke;margin-left:20%">Add University</span></h2>
    <div class="container-fluid">
        <div style="margin-left:12%;margin-right:40%">
            <form action="/Admin/UniUpdated" method="post">

                <input type="text" placeholder="University Name You Want to Change" name="uniName" class="form-control" /><br>
                <input type="text" class="form-control" placeholder="University Name"><br>
                <input type="text" name="degree1" class="form-control" placeholder="degree" /><br>
                <input type="text" name="degree2" class="form-control" placeholder="degree" /><br>
                <input type="text" name="degree3" class="form-control" placeholder="degree" /><br>
                <textarea name="degree1info" rows="5" class="form-control" placeholder="degree info"></textarea><br>
                <textarea name="degree2info" rows="5" class="form-control" placeholder="degree info"></textarea><br>
                <textarea name="degree3info" rows="5" class="form-control" placeholder="degree info"></textarea><br>
                <input type="text" name="city" class="form-control" placeholder="City" /><br>
                <input type="submit" class="btn-primary form-control" style="width:auto" value="Update" name="submission" />

            </form>
        </div>
    </div>
</div>