@{
    ViewBag.Title = "AdminRemoveUni";
    Layout = "~/Views/Shared/admin_Layout1.cshtml";
    }


<div class="center-block"  style="width:auto;height:auto;margin-left:33%;margin-top:-12%;margin-right:45%;margin-bottom:30%;color:purple">
    <h2 style="margin-left:1%;color:#0a0a0a">Remove University</h2>
    <form action="/Admin/Removed">
        <input type="text" placeholder="Enter University Name" class="form-control " name="uniName" /><br>
        <input type="submit" style="width:auto" value="Remove University" class="form-control btn-danger" />
    </form>
</div>