@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/admin_Layout1.cshtml";
}
@using University_Hub.Models;

<div style="margin-left:20%;margin-top:-12%;font-family:monospace;font-size:xx-large;color:mintcream;margin-right:33%;opacity:1.4">
    <p class="lead">Welcome Muneeb!</p>
    <p >No of total members on your website are <span style="color:whitesmoke">"@ViewBag.v"</span></p>
    <p>No of Universities on your Website are "@ViewBag.uv"</p>
</div>