@{
    ViewBag.Title = "RemoveUser";
    Layout = "~/Views/Shared/admin_Layout1.cshtml";
}

<div class="center-block" style="width:auto;height:auto;margin-left:33%;margin-top:-12%;margin-right:45%;margin-bottom:30%;color:purple">
        <form method="post">
            <h2 style="margin-left:1%;color:#0a0a0a">Remove User</h2>
        <input type="text" placeholder="Enter Id" name="Id" class="form-control"><br>
        <input type="submit" value="Remove" style="width:auto" class="form-control btn-danger" formaction="/Admin/userRemoved" />
    </form>
</div>     
       
       
       
       
       


