@{
    ViewBag.Title = "About";
}

@*<div style="padding-top:13%;margin-left:0%;margin-bottom:0%;margin-right:0%;background-image:url(../../Images/final.jpg);background-repeat:no-repeat;background-size:100% 100%;height:100%;">*@
    <div class="row col-md-4" style="font-family:monospace;margin-top:3%;margin-left:120px;font-size:25px;color:white">
        <p>"University Hub is a free classified site, Where you can create an account and take our help to take admission </p>
        <p> after completing your college. You can search any university of Punjab by it's department name or city name then </p>
        <p> you can get last year's merit list and get information about your concerned degree."</p>



    </div>




    @*</div>*@
