@{
    ViewBag.Title = "AllUni";
}

@using University_Hub.Models;

<h2 style="color:white">List of All Universities</h2>
<b><span  style="padding-left:89%;margin-top:14px ;font-family:monospace;color:white">Welcome <a href="/Home/userInfo">@Session["userName"]</a>!</span></b>
@{
    <table>
        @foreach (var a in Model)
        {
        //Session["masla"] = a.uniName;

        <tr>
            <td>
                <span style="color:white;font-size:xx-large;font-family:monospace">@a.uniName</span>
            </td>

            <td>
                <form action="/Home/puCit" method="post">

                    <input class="form-control" name="option" value="@a.uniName" type="hidden" />

                    <input type="submit" value="Show Details" class="form-control" style="width:auto;background-color:gold">
                </form>
            </td>
        </tr>



        }
    </table>
}
