@{
    ViewBag.Title = "Contact";
}



    <div class="row col-md-7" style="margin-top:30px;margin-left:15px;font-family:monospace;font-size:25px">
        <p style="color:white">You can contact us for making this website better or to notify any unintentional mistake. We will be highly grateful to you.</p>
        <p style="color:white">Contact no : <span style="font-size:30px;color:chocolate">+92 333 4645410</span></p>
        <p style="color:white">Email id   :  <span style="font-size:30px;color:chocolate"> muneebahmed.753@gmail.com</span></p>



    </div>





