@{
    ViewBag.Title = "Search";
}

<div style="padding-top:13%;margin-left:0%;margin-bottom:0%;margin-right:0%;background-image:url(../../Images/final.jpg);background-repeat:no-repeat;background-size:100% 100%;height:600px;;">
    <div>
        <form method="post">
            <h1 style="margin-top:-5%;margin-left:27%;font-family:monospace;background: transparent;color:white;opacity:1.3">Search Universities By university</h1><br />
            <h1 style="margin-top:-10px;padding-left:420px;font-family:monospace;color:white;opacity:1.3"> &nbsp &nbsp &nbsp or city name</h1>
            <input type="search" class="form-control" placeholder="Search university" style="height:100%;width:49%;margin-left:360px;font-size:large;font-family:monospace;background-color:rgb(71, 90, 58);color:white;opacity:1" name="uniName" /><br>
            <input type="submit" value="Search" class="btn btn-success" style="color:black;margin-left:360px;font-family:monospace;color:whitesmoke" formaction="/Home/Sresult" />
            <input type="submit" value="Show all Universities" class="btn btn-success" style="color:black;font-family:monospace;color:whitesmoke" formaction="/Home/AllUni" />
        </form>

    </div>

</div>


    
